---
import { SITE_TITLE } from "../consts";
---

<header
  class="navbar bg-white/30 backdrop-blur-3xl shadow-sm sticky top-0 z-50 py-4"
>
  <div class="max-w-6xl mx-auto w-full px-4 md:px-0 flex justify-between">
    <div class="navbar-start w-auto">
      <a
        href="/"
        class="text-2xl font-serif font-bold text-[#60a5fa] hover:opacity-80 transition-opacity whitespace-nowrap"
      >
        {SITE_TITLE}
      </a>
    </div>

    <div class="navbar-end w-auto">
      <div class="flex flex-col items-end leading-tight">
        <span class="text-sm font-sans text-zinc-600">
          <i class="opacity-80">by</i>
          <a
            href="https://www.annakahrs.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-600 hover:underline font-medium"
          >
            Anna Kahrs
          </a>
        </span>
        <span
          class="text-xs font-sans text-zinc-500 uppercase tracking-tight whitespace-nowrap"
        >
          UX Designer and Overthinker
        </span>
      </div>
    </div>
  </div>
</header>
